# 1.1) Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [33]:
#Sum of First n Natural numbers , Ask user for the input.


def myreduce(num):
    ''' This functionm will return sum of n Natural numbers'''
    num_list=list(range(1,number+1))
    sum_of_elements=0
    
    for i in num_list:
        sum_of_elements+=i
        
    return num_list,sum_of_elements

#Input from the user
print("Input:")
number=int(input("Please insert the number :"))

#Function Execution

output_value=myreduce(number)

#Output
print("Output:")
print("List of First n Natural numbers are:",output_value[0])
print("Sum of List elements are :",output_value[1])

Input:
Please insert the number :3
Output:
List of First n Natural numbers are: [1, 2, 3]
Sum of List elements are : 6

In [2]:
# Same Solution can be done by Built-in reduce() function

print("Input:")
number=int(input("Please insert the number :"))

num_list= list(range(1,(number+1)))
# Import reduce function 
from functools import reduce
sum_of_elements = reduce((lambda x, y: x + y), num_list)

#Output
print("Output:")
print("List of First n Natural numbers are:",num_list)
print("Sum of List elements are :",sum_of_elements)

Input:
Please insert the number :3
Output:
List of First n Natural numbers are: [1, 2, 3]
Sum of List elements are : 6

# 1.2) Write a Python program to implement your own myfilter() function which works exactlylike Python's built-in function filter()

In [34]:

# Filter the even and odd number from list which are multiples  of 5

#Input 

print("Input:")
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))


def myfilter(num_list):
    '''This function will filter even and odd numbers from list which are multiples of 5 '''
    num_even_list=[]
    num_odd_list=[]
    
    for i in num_list:
        if(i%5==0):
            if(i%2==0):
                num_even_list.append(i)
            else:
                num_odd_list.append(i)
                
    return num_even_list,num_odd_list


#Function Execution
output_value=myfilter(num_list)

#Output

print("Output:")
print("List of numbers:",num_list)
print("List of Even numbers, which are multiples of 5 are:",output_value[0])
print("List of Odd numbers, which are multiples of 5 are:",output_value[1])

Input:
Please insert the number: 34
Output:
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
List of Even numbers, which are multiples of 5 are: [10, 20, 30]
List of Odd numbers, which are multiples of 5 are: [5, 15, 25]

In [3]:
#Same solution can be approached by built-in filter() function

#Input 

print("Input:")
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))

num_even_list=list(filter(lambda x: x%2==0,list(filter(lambda x: x%5==0 ,num_list))))
num_odd_list= list(filter(lambda x: x%2!=0,list(filter(lambda x: x%5==0 ,num_list))))

print("Output:")

print("List of numbers:",num_list)
print("List of Even numbers, which are multiples of 5 are:",num_even_list)
print("List of Odd numbers, which are multiples of 5 are:",num_odd_list)

Input:
Please insert the number: 10
Output:
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Even numbers, which are multiples of 5 are: [10]
List of Odd numbers, which are multiples of 5 are: [5]

# 2) Implement List comprehensions to produce the following lists.

## a) ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [10]:
word_1=list('xyz')
word_2=[x*n for x in word_1 for n in range(1,5) ]
print(word_2)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [15]:
#b) ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[x*n for n in range(1,5) for x in word_1]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [24]:
# c) [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [21]:
number=[2,3,4]
numberdetails=[[x+n] for x in number for n in range(0,3)]
print(numberdetails)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
#d) [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [32]:
number_2=[2,3,4,5]
#number_3=[[x+n for n in range(0,4)] for x in number_2 ]
print(number_3)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [25]:
#e) [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [29]:
number_1=[1,2,3]
number_b= [(b,a) for a in number_1 for b in number_1]
print(number_b)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [18]:
import pandas as pd
class student:
 def __init__(self):
    self.name = input("Enter Student Name:")
    self.surname = input("Enter surname :")
    self.year_of_birth = input("Enter year_of_birth :")
        
class school(student):
 def __init__(self, *args):
    super().__init__(*args)
    self.school = input("Enter school name: ")
 def __str__(self):
        return ("Student: \n \tName: " + self.name +"\n \tsurname: " + str(self.surname) + "\n \tyear_of_birth: " + str(self.year_of_birth))  
    
numberofstudents = int(input("Enter number of student:"))
x = []
for i in range (numberofstudents):
 schooldef = school()
 x.append(schooldef)
pd.DataFrame.from_records([s.__dict__ for s in x])

Enter number of student:2
Enter Student Name:dseb
Enter surname :snie
Enter year_of_birth :33
Enter school name: slkjnofi
Enter Student Name:kslnie
Enter surname :fmjioe
Enter year_of_birth :334
Enter school name: m vp;od

     name    school surname year_of_birth
0    dseb  slkjnofi    snie            33
1  kslnie   m vp;od  fmjioe           334